Repository thin-edge/thin-edge.io, pull requests merged in 2023-01, with the labels that each got.

#1650 Health status messages on startup and shutdown of tedge daemons
  Cargo.lock
  crates/common/mqtt_channel/Cargo.toml
  crates/common/mqtt_channel/src/config.rs
  crates/common/mqtt_channel/src/connection.rs
  crates/common/mqtt_channel/src/messages.rs
  crates/common/mqtt_channel/src/tests.rs
  crates/core/tedge_agent/src/agent.rs
  crates/core/tedge_api/src/health.rs
  crates/core/tedge_mapper/src/c8y/tests.rs
  crates/core/tedge_mapper/src/core/mapper.rs
  crates/core/tedge_watchdog/Cargo.toml
  crates/core/tedge_watchdog/src/systemd_watchdog.rs
  crates/tests/mqtt_tests/Cargo.toml
  plugins/c8y_configuration_plugin/src/config_manager.rs
  plugins/c8y_log_plugin/src/main.rs
Labels: theme:mqtt, theme:troubleshooting

#1642 add child device tutorial
  docs/src/SUMMARY.md
  docs/src/tutorials/child-device-config-management.md
  docs/src/tutorials/images/add-config-snapshot-configurations.png
  docs/src/tutorials/images/add-config-snapshot.png
  docs/src/tutorials/images/get-config-snapshot-list.png
  docs/src/tutorials/images/get-config-snapshot.png
  docs/src/tutorials/images/handle-config-snapshot-request.png
  docs/src/tutorials/images/send-config-snapshot-configurations.png
  docs/src/tutorials/tutorials.md
Labels: documentation, theme:childdevices

#1690 feat: add vscode devcontainer definition
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  docs/src/developer/DEV_CONTAINER.md
  docs/src/developer/INSTALLING_DOCKER.md
Labels: idea, theme:developer-exp
