Repository thin-edge/thin-edge.io, pull requests merged in 2024-07, with the labels that each got.

#2967 chore: bump rust-version in cargo.toml
  Cargo.toml
Labels: rust

#2961 feat: tedge cert upload usability improvements
  crates/core/tedge/Cargo.toml
  crates/core/tedge/src/cli/certificate/cli.rs
  crates/core/tedge/src/cli/certificate/upload.rs
  tests/RobotFramework/requirements/requirements.adapter-docker.txt
  tests/RobotFramework/requirements/requirements.adapter-local.txt
  tests/RobotFramework/requirements/requirements.adapter-ssh.txt
  tests/RobotFramework/tests/tedge/tedge_upload_cert.robot
Labels: theme:c8y, theme:cli

#2970 docs: add instructions for Cumulocity IoT custom domains
  docs/src/start/connect-c8y.md
Labels: documentation, theme:c8y

#2971 docs: improve onboarding instructions
  docs/src/extend/firmware-management/device-onboarding.md
  docs/src/extend/firmware-management/images/onboarding-c8y-tedge.drawio.png
Labels: documentation, theme:firmware

#2964 fix: too many software list requests
  Cargo.lock
  crates/common/mqtt_channel/src/messages.rs
  crates/common/mqtt_channel/src/topics.rs
  crates/core/tedge_actors/src/message_boxes.rs
  crates/extensions/tedge_mqtt_ext/Cargo.toml
  crates/extensions/tedge_mqtt_ext/src/lib.rs
Labels: theme:software, theme:mqtt

#2944 test: ensure the MQTT connection is properly closed
  tests/RobotFramework/tests/mqtt/disconnect_from_broker.robot
Labels: theme:mqtt, theme:cli, theme:testing

#2940 feat: support c8y device availability by AvailabilityActor
  crates/common/tedge_config/src/tedge_config_cli/tedge_config.rs
  crates/core/c8y_api/src/smartrest/inventory.rs
  crates/core/tedge_api/src/mqtt_topics.rs
  crates/core/tedge_api/src/store/pending_entity_store.rs
  crates/core/tedge_api/store/message_log.rs
  crates/core/tedge_mapper/src/c8y/mapper.rs
  crates/extensions/c8y_mapper_ext/src/actor.rs
  crates/extensions/c8y_mapper_ext/src/availability/actor.rs
  crates/extensions/c8y_mapper_ext/src/availability/builder.rs
  crates/extensions/c8y_mapper_ext/src/availability/mod.rs
  crates/extensions/c8y_mapper_ext/src/availability/tests.rs
  crates/extensions/c8y_mapper_ext/src/converter.rs
  crates/extensions/c8y_mapper_ext/src/inventory.rs
  crates/extensions/c8y_mapper_ext/src/lib.rs
  crates/extensions/c8y_mapper_ext/src/operations/config_snapshot.rs
  crates/extensions/c8y_mapper_ext/src/operations/config_update.rs
  crates/extensions/c8y_mapper_ext/src/operations/firmware_update.rs
  crates/extensions/c8y_mapper_ext/src/operations/log_upload.rs
  crates/extensions/c8y_mapper_ext/src/operations/mod.rs
  crates/extensions/c8y_mapper_ext/src/tests.rs
  crates/extensions/tedge_mqtt_ext/src/test_helpers.rs
  docs/src/operate/c8y/device-availability.md
  tests/RobotFramework/requirements/requirements.txt
  tests/RobotFramework/tests/cumulocity/availability/c8y_required_availability.robot
  tests/RobotFramework/tests/cumulocity/availability/heartbeat.robot
  tests/RobotFramework/tests/cumulocity/registration/registration_lifecycle.robot
Labels: theme:c8y, theme:monitoring

#2979 tests: don't remove systemd-tmpfiles-setup service which is responsible for creating tmp folders
  tests/images/debian-systemd/debian-systemd.dockerfile
Labels: theme:testing

#2985 docs: add advanced software mgmt descriptions
  docs/src/operate/c8y/software-management.md
Labels: documentation, theme:c8y

#2989 test: remove OpenSSL Error check because of flakiness
  tests/RobotFramework/tests/mqtt/disconnect_from_broker.robot
Labels: theme:mqtt, theme:testing

#2981 tests: improve debugging of bootstrap script and include systemd/cgroup compat check
  .github/workflows/build-workflow.yml
  tests/images/debian-systemd/files/bootstrap.sh
Labels: theme:testing

#2983 test: add a custom command based log_upload workflow
  tests/RobotFramework/tests/cumulocity/log/workflow/log_upload.sh
  tests/RobotFramework/tests/cumulocity/log/workflow/log_upload.toml
  tests/RobotFramework/tests/cumulocity/log/workflow/log_workflow.robot
  tests/RobotFramework/tests/cumulocity/log/workflow/tedge-log-plugin.toml
Labels: theme:troubleshooting, theme:testing, theme:workflows

#2904 Simplify the operation handling code by replacing fragmented control flow with regular async/await - attempt #2
  Cargo.lock
  crates/common/tedge_config/src/tedge_config_cli/models/c8y_software_management.rs
  crates/common/tedge_config/src/tedge_config_cli/models/mod.rs
  crates/core/tedge_api/src/mqtt_topics.rs
  crates/extensions/c8y_auth_proxy/src/url.rs
  crates/extensions/c8y_http_proxy/src/handle.rs
  crates/extensions/c8y_mapper_ext/Cargo.toml
  crates/extensions/c8y_mapper_ext/src/actor.rs
  crates/extensions/c8y_mapper_ext/src/config.rs
  crates/extensions/c8y_mapper_ext/src/converter.rs
  crates/extensions/c8y_mapper_ext/src/lib.rs
  crates/extensions/c8y_mapper_ext/src/operations/config_snapshot.rs
  crates/extensions/c8y_mapper_ext/src/operations/config_update.rs
  crates/extensions/c8y_mapper_ext/src/operations/firmware_update.rs
  crates/extensions/c8y_mapper_ext/src/operations/log_upload.rs
  crates/extensions/c8y_mapper_ext/src/operations/mod.rs
  crates/extensions/c8y_mapper_ext/src/operations/restart.rs
  crates/extensions/c8y_mapper_ext/src/operations/software_list.rs
  crates/extensions/c8y_mapper_ext/src/operations/software_update.rs
  crates/extensions/c8y_mapper_ext/src/operations/upload.rs
  crates/extensions/c8y_mapper_ext/src/tests.rs
Labels: refactoring

#2993 tests: use library keyword to check folder ownership
  tests/RobotFramework/tests/customizing/tedge_init.robot
Labels: theme:testing

#2992 docs: add common errors section for update-ca-certificates when rehashing fails
  docs/src/operate/security/cloud-authentication.md
Labels: documentation, theme:mqtt, theme:certificates

#2995 fix(tedge): `tedge config get` returns 1 when a key is not set
  crates/core/tedge/src/cli/config/commands/get.rs
  crates/core/tedge/tests/main.rs
  tests/RobotFramework/tests/tedge/tedge_config_get.robot
Labels: improvement, theme:cli

#2998 docs: fix link to the example aws policy
  docs/src/start/connect-aws.md
Labels: documentation, theme:aws

#2991 feat(log manager): skip filtering by date when a static path is used
  Cargo.lock
  crates/common/log_manager/Cargo.toml
  crates/common/log_manager/src/log_utils.rs
  tests/RobotFramework/tests/cumulocity/log/log_operation.robot
Labels: theme:troubleshooting

#2977 fix: use MQTT as well as HTTP host to determine possible tenant url
  crates/core/c8y_api/src/http_proxy.rs
  crates/extensions/c8y_firmware_manager/src/config.rs
  crates/extensions/c8y_firmware_manager/src/tests.rs
  crates/extensions/c8y_http_proxy/src/actor.rs
  crates/extensions/c8y_http_proxy/src/lib.rs
  crates/extensions/c8y_http_proxy/src/tests.rs
  crates/extensions/c8y_mapper_ext/src/config.rs
  crates/extensions/c8y_mapper_ext/src/converter.rs
  crates/extensions/c8y_mapper_ext/src/operations/mod.rs
  crates/extensions/c8y_mapper_ext/src/tests.rs
Labels: theme:c8y

#3005 docs: update notes on doc version management
  docs/internal/RELEASE.md
Labels: documentation, skip-release-notes

#3004 feat: retry aws connection check when establishing initial connection
  crates/core/tedge/src/bridge/aws.rs
  crates/core/tedge/src/bridge/azure.rs
  crates/core/tedge/src/bridge/c8y.rs
  crates/core/tedge/src/bridge/config.rs
  crates/core/tedge/src/cli/connect/command.rs
  tests/RobotFramework/resources/common.resource
  tests/RobotFramework/tests/aws/aws_connect.robot
Labels: theme:aws

#3006 feat: use direct c8y connection for c8y-remote-access-plugin
  Cargo.lock
  plugins/c8y_remote_access_plugin/Cargo.toml
  plugins/c8y_remote_access_plugin/src/auth.rs
  plugins/c8y_remote_access_plugin/src/lib.rs
  plugins/c8y_remote_access_plugin/src/proxy.rs
  tests/RobotFramework/bin/setup.sh
  tests/RobotFramework/libraries/ThinEdgeIO/ThinEdgeIO.py
  tests/RobotFramework/tests/cumulocity/remote-access/test_remote_access.robot
Labels: improvement, theme:troubleshooting, theme:c8y, theme:plugins

#3009 feat: upload c8y log file on failure by default
  crates/common/tedge_config/src/tedge_config_cli/tedge_config.rs
  tests/RobotFramework/tests/cumulocity/software_management/software.robot
Labels: theme:troubleshooting, theme:c8y

#2997 Improve c8y_mapper_ext operation handler API
  crates/core/c8y_api/src/smartrest/smartrest_serializer.rs
  crates/extensions/c8y_mapper_ext/src/operations/config_snapshot.rs
  crates/extensions/c8y_mapper_ext/src/operations/config_update.rs
  crates/extensions/c8y_mapper_ext/src/operations/error.rs
  crates/extensions/c8y_mapper_ext/src/operations/firmware_update.rs
  crates/extensions/c8y_mapper_ext/src/operations/log_upload.rs
  crates/extensions/c8y_mapper_ext/src/operations/mod.rs
  crates/extensions/c8y_mapper_ext/src/operations/restart.rs
  crates/extensions/c8y_mapper_ext/src/operations/software_list.rs
  crates/extensions/c8y_mapper_ext/src/operations/software_update.rs
  crates/extensions/c8y_mapper_ext/src/operations/upload.rs
  crates/extensions/c8y_mapper_ext/src/tests.rs
Labels: refactoring

#3016 chore: fix clippy errors
  crates/common/axum_tls/src/lib.rs
  crates/common/tedge_config/src/tedge_config_cli/models/seconds.rs
  crates/core/c8y_api/src/smartrest/smartrest_deserializer.rs
  crates/core/tedge/src/cli/certificate/upload.rs
  crates/core/tedge/src/cli/init.rs
  crates/extensions/c8y_firmware_manager/src/actor.rs
  crates/tests/mqtt_tests/src/test_mqtt_client.rs
Labels: refactoring, skip-release-notes

#2953 fix: Parse root certificate from either file or directory in tedge cert upload
  .gitignore
  Cargo.lock
  Cargo.toml
  clippy.toml
  crates/common/axum_tls/src/acceptor.rs
  crates/common/axum_tls/src/files.rs
  crates/common/certificate/Cargo.toml
  crates/common/certificate/src/cloud_root_certificate.rs
  crates/common/certificate/src/lib.rs
  crates/common/certificate/src/parse_root_certificate.rs
  crates/common/download/Cargo.toml
  crates/common/download/examples/simple_download.rs
  crates/common/download/src/download.rs
  crates/common/download/src/lib.rs
  crates/common/tedge_config/Cargo.toml
  crates/common/tedge_config/src/tedge_config_cli/figment.rs
  crates/common/tedge_config/src/tedge_config_cli/tedge_config.rs
  crates/common/tedge_utils/Cargo.toml
  crates/common/upload/Cargo.toml
  crates/common/upload/src/lib.rs
  crates/common/upload/src/upload.rs
  crates/core/plugin_sm/Cargo.toml
  crates/core/plugin_sm/src/plugin.rs
  crates/core/plugin_sm/src/plugin_manager.rs
  crates/core/plugin_sm/tests/plugin.rs
  crates/core/tedge/Cargo.toml
  crates/core/tedge/src/cli/certificate/cli.rs
  crates/core/tedge/src/cli/certificate/error.rs
  crates/core/tedge/src/cli/certificate/upload.rs
  crates/core/tedge_agent/Cargo.toml
  crates/core/tedge_agent/src/agent.rs
  crates/core/tedge_agent/src/file_transfer_server/actor.rs
  crates/core/tedge_mapper/src/c8y/mapper.rs
  crates/extensions/c8y_auth_proxy/Cargo.toml
  crates/extensions/c8y_auth_proxy/src/actor.rs
  crates/extensions/c8y_auth_proxy/src/server.rs
  crates/extensions/c8y_http_proxy/Cargo.toml
  crates/extensions/c8y_http_proxy/src/actor.rs
  crates/extensions/c8y_http_proxy/src/lib.rs
  crates/extensions/c8y_http_proxy/src/tests.rs
  crates/extensions/tedge_downloader_ext/Cargo.toml
  crates/extensions/tedge_downloader_ext/src/actor.rs
  crates/extensions/tedge_downloader_ext/src/tests.rs
  crates/extensions/tedge_http_ext/Cargo.toml
  crates/extensions/tedge_http_ext/src/actor.rs
  crates/extensions/tedge_http_ext/src/lib.rs
  crates/extensions/tedge_http_ext/src/tests.rs
  crates/extensions/tedge_uploader_ext/Cargo.toml
  crates/extensions/tedge_uploader_ext/src/actor.rs
  crates/extensions/tedge_uploader_ext/src/tests.rs
  plugins/c8y_firmware_plugin/src/lib.rs
  plugins/c8y_remote_access_plugin/src/lib.rs
  plugins/c8y_remote_access_plugin/src/proxy.rs
  tests/RobotFramework/tests/cumulocity/remote-access/test_remote_access_custom_root_cert_path.robot
  tests/RobotFramework/tests/tedge/parse_root_certificate.robot
  tests/RobotFramework/tests/tedge/tedge_upload_cert.robot
  tests/RobotFramework/tests/tedge/tedge_upload_cert_custom_root_cert_path.robot
Labels: theme:configuration, theme:c8y

#3007 feat: socket activated c8y-remote-access-plugin service
  configuration/init/systemd/75-tedge.preset
  configuration/init/systemd/c8y-remote-access-plugin.socket
  configuration/init/systemd/c8y-remote-access-plugin@.service
  configuration/package_manifests/nfpm.c8y-remote-access-plugin.yaml
  configuration/package_scripts/_generated/c8y-remote-access-plugin/apk/postinst
  configuration/package_scripts/_generated/c8y-remote-access-plugin/apk/postrm
  configuration/package_scripts/_generated/c8y-remote-access-plugin/apk/prerm
  configuration/package_scripts/_generated/c8y-remote-access-plugin/deb/postinst
  configuration/package_scripts/_generated/c8y-remote-access-plugin/deb/postrm
  configuration/package_scripts/_generated/c8y-remote-access-plugin/deb/prerm
  configuration/package_scripts/_generated/c8y-remote-access-plugin/rpm/postinst
  configuration/package_scripts/_generated/c8y-remote-access-plugin/rpm/postrm
  configuration/package_scripts/_generated/c8y-remote-access-plugin/rpm/prerm
  configuration/package_scripts/c8y-remote-access-plugin/postinst
  configuration/package_scripts/c8y-remote-access-plugin/prerm
  configuration/package_scripts/generate.py
  configuration/package_scripts/packages.json
  plugins/c8y_remote_access_plugin/src/input.rs
  plugins/c8y_remote_access_plugin/src/lib.rs
  tests/RobotFramework/libraries/ThinEdgeIO/ThinEdgeIO.py
  tests/RobotFramework/requirements/requirements.txt
  tests/RobotFramework/tests/cumulocity/remote-access/restart-service.sh
  tests/RobotFramework/tests/cumulocity/remote-access/test_remote_access.robot
Labels: theme:troubleshooting, theme:c8y

#3018 fix: Handle messages republished by MQTT bridge following a disconnection event
  crates/extensions/tedge_mqtt_bridge/src/lib.rs
  crates/extensions/tedge_mqtt_bridge/tests/bridge.rs
Labels: theme:mqtt

#3020 test: bind to localhost instead of all interfaces
  crates/extensions/tedge_mqtt_bridge/tests/bridge.rs
  crates/tests/mqtt_tests/src/test_mqtt_server.rs
Labels: theme:testing, skip-release-notes

#3023 test: reset mqtt.bridge.built_in setting to default value
  tests/RobotFramework/tests/tedge_connect/tedge_connect_test.robot
Labels: theme:mqtt, theme:testing, skip-release-notes

#3027 ci: run tests using cargo-nextest
  .config/nextest.toml
  .github/workflows/pull-request-checks.yml
  .gitignore
  justfile
Labels: ci/cd, theme:testing, skip-release-notes

#3012 refactor: Reorganise c8y_mapper_ext::operations module
  crates/extensions/c8y_mapper_ext/src/config.rs
  crates/extensions/c8y_mapper_ext/src/lib.rs
  crates/extensions/c8y_mapper_ext/src/operations/convert.rs
  crates/extensions/c8y_mapper_ext/src/operations/handler.rs
  crates/extensions/c8y_mapper_ext/src/operations/handlers/config_snapshot.rs
  crates/extensions/c8y_mapper_ext/src/operations/handlers/config_update.rs
  crates/extensions/c8y_mapper_ext/src/operations/handlers/firmware_update.rs
  crates/extensions/c8y_mapper_ext/src/operations/handlers/log_upload.rs
  crates/extensions/c8y_mapper_ext/src/operations/handlers/mod.rs
  crates/extensions/c8y_mapper_ext/src/operations/handlers/restart.rs
  crates/extensions/c8y_mapper_ext/src/operations/handlers/software_list.rs
  crates/extensions/c8y_mapper_ext/src/operations/handlers/software_update.rs
  crates/extensions/c8y_mapper_ext/src/operations/mod.rs
  crates/extensions/c8y_mapper_ext/src/operations/upload.rs
  crates/extensions/c8y_mapper_ext/src/tests.rs
Labels: refactoring, theme:c8y

#3029 test: mark sporadically failing unit tests as flaky
  .config/nextest.toml
Labels: theme:mqtt, theme:testing, skip-release-notes

#3025 fix: disconnect cleanly from local MQTT broker in tedge connect
  crates/core/tedge/src/cli/connect/command.rs
  crates/core/tedge/src/cli/connect/jwt_token.rs
  tests/RobotFramework/tests/tedge_connect/tedge_connect_test.robot
Labels: theme:mqtt, theme:cli

#3028 fix: built-in MQTT bridge handling of QoS 0 messages published to the cloud topic
  crates/extensions/tedge_mqtt_bridge/src/lib.rs
  tests/RobotFramework/tests/cumulocity/bridge_config/builtin_bridge.robot
Labels: theme:mqtt
