Repository thin-edge/thin-edge.io, pull requests merged in 2024-09, with the labels that each got.

#3093 doc: fix device profile page title
  docs/src/references/agent/device-profile.md
Labels: documentation, theme:profile

#3094 test: improve tedge-write RobotFramework suite
  tests/RobotFramework/tests/tedge_write.robot
Labels: theme:testing

#3098 Fix process exit code and stderr printing 2 times
  crates/extensions/tedge_config_manager/src/actor.rs
Labels: theme:configuration

#3100 doc: fix deprecated mTLS setting in user docs
  docs/src/operate/security/mqtt-tls-configuration.md
Labels: documentation, theme:mqtt, theme:security

#3101 fix: create device_profile workflow before loading workflows from disk
  crates/core/tedge_agent/src/agent.rs
  tests/RobotFramework/tests/cumulocity/supported_operations/mapper-publishing-agent-supported-ops.robot
  tests/RobotFramework/tests/tedge_agent/device_profile/device_profile_initialization.robot
  tests/RobotFramework/tests/tedge_agent/device_profile/device_profile_operation.robot
Labels: theme:profile

#3099 fix: tedge write remove hardcoded path
  crates/common/tedge_config/src/sudo.rs
  crates/core/tedge_write/src/api.rs
  crates/core/tedge_write/src/lib.rs
  tests/RobotFramework/tests/cumulocity/configuration/configuration_operation.robot
Labels: theme:configuration

#3102 docs: device profile operation guide
  docs/src/operate/c8y/device-profiles.md
  docs/src/operate/c8y/images/device-profile-install-1-select.png
  docs/src/operate/c8y/images/device-profile-install-2-assign.png
  docs/src/operate/c8y/images/device-profile-repo-1-list.png
  docs/src/operate/c8y/images/device-profile-repo-2-add-device-profile-empty.png
  docs/src/operate/c8y/images/device-profile-repo-3-add-device-profile-with-details.png
  docs/src/operate/c8y/images/device-profile-repo-4-device-profile-details.png
  docs/src/references/agent/device-profiles.md
Labels: documentation, theme:profile

#3106 docs: fix invalid json in the example json payload
  docs/src/references/agent/device-profiles.md
Labels: documentation, theme:profile

#3108 refactor: include topic prefix in c8y last-will service name
  crates/core/tedge_mapper/src/c8y/mapper.rs
Labels: theme:mqtt, theme:c8y

#3112 feat: avoid using explicit path to the c8y-remote-access-plugin binary
  plugins/c8y_remote_access_plugin/src/lib.rs
  tests/RobotFramework/tests/cumulocity/remote-access/test_remote_access.robot
Labels: theme:troubleshooting

#3113 feat: support setting config dir via env variable
  crates/common/tedge_config/src/tedge_config_cli/tedge_config_location.rs
  crates/core/tedge/src/cli/mod.rs
  crates/core/tedge_agent/src/lib.rs
  crates/core/tedge_mapper/src/lib.rs
  crates/core/tedge_watchdog/src/lib.rs
  docs/src/legacy/child-device-firmware-management.md
  docs/src/operate/configuration/index.md
  docs/src/references/cli/index.md
  docs/src/references/cli/tedge-cert.md
  docs/src/references/cli/tedge-config.md
  docs/src/start/getting-started.md
  plugins/c8y_firmware_plugin/src/lib.rs
  plugins/c8y_remote_access_plugin/src/input.rs
  plugins/tedge_apt_plugin/src/lib.rs
  tests/RobotFramework/tests/customizing/config_dir.robot
Labels: theme:configuration, theme:installation, theme:cli

#3115 chore: Fix cargo deprecated default_features warning
  Cargo.toml
  crates/extensions/tedge_mqtt_bridge/Cargo.toml
Labels: dependencies, skip-release-notes

#3114 Device profile twin update before operation completion
  crates/core/tedge_agent/src/resources/device_profile.toml
  crates/core/tedge_api/src/mqtt_topics.rs
  crates/core/tedge_api/src/workflow/state.rs
  tests/RobotFramework/tests/tedge_agent/device_profile/device_profile_operation.robot
Labels: theme:profile, skip-release-notes

#3117 chore: fix docker linting warnings
  containers/tedge/Dockerfile
Labels: theme:containers, theme:packaging

#3118 feat: use explicit user/group id in container image
  containers/tedge/Dockerfile
Labels: theme:containers, theme:packaging

#3120 feat: initialize the remote access plugin in the container image
  containers/tedge/Dockerfile
Labels: theme:containers, theme:packaging

#3119 fix: handle error when jwt token could not be retrieved
  crates/extensions/c8y_auth_proxy/src/server.rs
  crates/extensions/c8y_auth_proxy/src/tokens.rs
Labels: bug, theme:c8y

#3105 Feat: improve workflow builtin actions
  crates/core/tedge_agent/src/operation_workflows/actor.rs
  crates/core/tedge_agent/src/operation_workflows/builder.rs
  crates/core/tedge_agent/src/operation_workflows/tests.rs
  crates/core/tedge_api/src/commands.rs
  crates/core/tedge_api/src/workflow/error.rs
  crates/core/tedge_api/src/workflow/mod.rs
  crates/core/tedge_api/src/workflow/script.rs
  crates/core/tedge_api/src/workflow/state.rs
  crates/core/tedge_api/src/workflow/supervisor.rs
  crates/core/tedge_api/src/workflow/toml_config.rs
  docs/src/references/agent/operation-workflow.md
  tests/RobotFramework/tests/cumulocity/log/workflow/log_upload.sh
  tests/RobotFramework/tests/cumulocity/log/workflow/log_upload.toml
  tests/RobotFramework/tests/tedge_agent/workflows/custom_operation.robot
  tests/RobotFramework/tests/tedge_agent/workflows/init-software-list.sh
  tests/RobotFramework/tests/tedge_agent/workflows/software_list.toml
  tests/RobotFramework/tests/tedge_agent/workflows/software_update.toml
Labels: theme:workflows

#3122 fix: builtin bridge disconnected when under heavy load
  crates/extensions/tedge_mqtt_bridge/src/health.rs
  crates/extensions/tedge_mqtt_bridge/src/lib.rs
Labels: bug, theme:bridge

#3123 minor version bump
  Cargo.lock
  Cargo.toml
Labels: skip-release-notes

#3116 docs: Add tedge-write documentation page
  crates/core/tedge_write/src/bin.rs
  crates/core/tedge_write/src/lib.rs
  docs/src/references/agent/tedge-configuration-management.md
  docs/src/references/tedge-write.md
Labels: documentation

#3129 ci: format code and add ci check for robotframework formatting
  crates/common/axum_tls/src/config.rs
  justfile
  tests/RobotFramework/tasks.py
  tests/RobotFramework/tests/tedge_agent/device_profile/device_profile_operation.robot
  tests/RobotFramework/tests/tedge_agent/workflows/custom_operation.robot
Labels: ci/cd, theme:testing

#3127 docs: publish pid as number instead of string
  docs/src/references/mappers/c8y-mapper.md
Labels: documentation, theme:monitoring

#3132 fix: Ignore extra HealthStatus fields in service monitor
  Cargo.toml
  crates/core/tedge/Cargo.toml
  crates/core/tedge_api/src/health.rs
  crates/core/tedge_watchdog/src/systemd_watchdog.rs
  crates/extensions/c8y_mapper_ext/src/service_monitor.rs
  plugins/tedge_apt_plugin/Cargo.toml
Labels: theme:monitoring

#3135 test: update source to testing libraries
  tests/RobotFramework/requirements/requirements.adapter-docker.txt
  tests/RobotFramework/requirements/requirements.adapter-local.txt
  tests/RobotFramework/requirements/requirements.adapter-ssh.txt
  tests/RobotFramework/requirements/requirements.txt
Labels: theme:testing

#3134 fix: c8y mapper panics on unexpected registration message
  crates/core/tedge_api/src/entity_store.rs
  crates/core/tedge_api/src/mqtt_topics.rs
  tests/RobotFramework/tests/cumulocity/registration/registration_lifecycle.robot
Labels: bug, theme:registration

#3142 fix: Support skipping operations in device profile
  crates/core/tedge_api/src/workflow/mod.rs
  docs/src/references/agent/device-profiles.md
  tests/RobotFramework/tests/tedge_agent/device_profile/device_profile_operation.robot
Labels: theme:profile

#3131 feat: allow to init remote access plugin with non-standard user/group
  plugins/c8y_remote_access_plugin/src/input.rs
  plugins/c8y_remote_access_plugin/src/lib.rs
  tests/RobotFramework/tests/cumulocity/remote-access/test_remote_access.robot
Labels: theme:troubleshooting
