Repository thin-edge/thin-edge.io, pull requests merged in 2025-09, with the labels that each got.

#3774 feat: publish properties along tedge measurements
  crates/common/json_writer/src/lib.rs
  crates/core/tedge_api/src/measurement/builder.rs
  crates/core/tedge_api/src/measurement/group.rs
  crates/core/tedge_api/src/measurement/mod.rs
  crates/core/tedge_api/src/measurement/parser.rs
  crates/core/tedge_api/src/measurement/serialize.rs
  crates/extensions/c8y_mapper_ext/src/serializer.rs
  docs/src/understand/thin-edge-json.md
  tests/RobotFramework/tests/cumulocity/telemetry/thin-edge_device_telemetry.robot
Labels: theme:telemetry

#3783 feat: enable cert renewal when using cloud profiles with Cumulocity
  configuration/init/systemd/tedge-cert-renewer-c8y.target
  configuration/init/systemd/tedge-cert-renewer-c8y@.service
  configuration/init/systemd/tedge-cert-renewer-c8y@.timer
  configuration/init/systemd/tedge-mapper-c8y@.service
  configuration/package_manifests/nfpm.tedge-mapper.yaml
  docs/src/operate/c8y/cloud-profiles.md
  tests/RobotFramework/tests/cumulocity/registration/cumulocity_ca.robot
Labels: theme:c8y

#3793 fix: tedge connect c8y --test works with basic auth
  crates/core/tedge/src/cli/connect/c8y.rs
  tests/RobotFramework/tests/cumulocity/smartrest_one/smartrest_one.robot
Labels: theme:c8y

#3785 improve: PKCS11 slots/tokens/objects logging
  crates/extensions/tedge-p11-server/src/pkcs11/mod.rs
  crates/extensions/tedge-p11-server/src/pkcs11/uri.rs
  tests/RobotFramework/tests/pkcs11/private_key_storage_runtime_changes.robot
Labels: theme:hsm
